<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/general.min.css">
    <link rel="stylesheet" href="/css/login.min.css">
</head>
<body>
    <div class="center">
        <main>
            <p class="moto">Learn Everywhere</p>
            <form action="/login" method="POST">
                <label for="email">Email</label>
                <div class="inp">
                    <span>📧</span>
                    <input type="text" name="email" id="email" placeholder="email" aria-placeholder="email">
                </div>
                <br>
                <label for="password">Password</label>
                <div class="inp">
                    <span>🔑</span>
                    <input type="password" name="password" id="password" placeholder="password" aria-placeholder="password">
                </div>

                <button type="submit">Sign in</button>
            </form>

            <div class="moto">
                <a href="#">Forgot Password</a> <br>
                <a href="/register">You don't Have an account?</a> <br>
                <a href="/terms_and_conditions#terms">Terms of Use</a> -
                <a href="/terms_and_conditions#data-policy">Privacy Policies</a>
            </div>
        </main>
        <footer class="moto">
            &copy;2021. All Rights Reserved.
        </footer>
    </div>
</body>
</html>