<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashCard | Terms and Conditions</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/terms.css">
</head>
<body>
    <div class="center">
        <section id="terms">
            <h3 align="center">Terms of Service</h3>
            <br><br>
            <p>Welcome to FlashCard</p>
            <br>
            <p class="talks">FlashCard provides service that enables people, especially students improve their learning. These terms govern your use of FlashCard and it's services, except where explicitly stated that separate terms(and not these) apply.</p>
            <br>
            <p class="talks">You're not charged to use FlashCard or it's services covered by these Terms. Instead we may show you ads sponsored by advertising companies, which may require your personal data to provide a more personalized experience for you. Our <a href="#data-policy">Privacy Policy</a> explains how we your data may be used.</p>
            <br>
            <hr>
            <br>
            <ul>
                <li>
                    <blockquote>Our Mission</blockquote>
                    <p>The purpose of the FlashCard project is and remains to aid learning.</p>
                </li>
                <li>
                    <blockquote>How FlashCard is funded</blockquote>
                    <p>FlashCard accepts volunteered support. Also instead of paying to use FlashCard, by using FlashCard you agree that we can collect collecct personal data about you and show you ads.</p>
                </li>
                <li>
                    <blockquote>Our Commitment</blockquote>
                    <p>All of FlashCard's operations will comply strictly to this document. If by any chance we change our Terms of Service or Privacy Policy we will inform you 2 weeks before its actual implementation. Your personal data won't be sold to third parties.</p>
                </li>
                <li>
                    <blockquote>Who can use FlashCard</blockquote>
                    <p>Basically anyone can use FlashCard, except:</p>
                    <ol>
                        <li>Those who live in countries whose laws don't support this document.</li>
                        <li>Those who have been banned or suspended from using our service.</li>
                    </ol>
                </li>
                <li>
                    <blockquote>Dos and Don'ts</blockquote>
                    <p>Using FlashCard means you agree: </p>
                    <ol>
                        <li>Not to post gibberish or unnecessary data which clogs up our database. If detected this may lead to suspension your FlashCard account.</li>
                        <li>That you rather keep things personal and not share to others if it goes against community standards</li>
                        <li>That we share some form of copyright license to whatever intellectual property you post to FlashCard. Permission to use content you create and share</li>
                        <li>That we can suspend or withdraw membership of FlashCard</li>
                        <li>That we can use your Name or Email with ads and sponsored content</li>
                        <li>That we can also place limits on your use of FlashCard</li>
                    </ol>
                </li>
                <li>
                    <blockquote>The Permissions you give us</blockquote>
                    <p>Permission to use your Name or Email with ads and sponsored content. Permission to use content you create and share.</p>
                </li>
            </ul>
        </section>
        <br><br><br>
        <section id="data-policy">
            <h3 align="center">Data Policy</h3>
            <br>
            <p>This section describe the information we process to support services offered by FlashCard.</p>
            <br>
            <details>
                <summary>We may collect the following: </summary>
                <ol>
                    <li>Things you do and provide on FlashCard.</li>
                    <li>Device information.</li>
                    <li>Information from partners.</li>
                </ol>
            </details>
        </section>
        <br><br><br>
    </div>
</body>
</html>